.text{
    margin: 40px;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(47, 79, 79, 0.767);
}

.box{
    width: 400px;
    border: 1px solid black;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}








/* Text Decoration */

.line1{
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

.line2{
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 4px;


}

.line3{
    text-decoration-line: line-through;
    text-decoration-color: white;

}

.line4{
    text-decoration-line: overline underline;
    text-decoration-color: white;

}

.line5{
    text-decoration-style: solid;
    text-decoration-line: underline;
}

.line6{
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.line7{
    text-decoration-style: double;
    text-decoration-line: underline;
}

.line8{
    text-decoration-style: wavy;
    text-decoration-line: underline;
}

.line9{
    text-decoration-style: dashed;
    text-decoration-line: underline;
}