*{
    margin: 0;
    padding: 0;
}

.outer{
    height: 600px;
    display: flex;
    /* border: 1px solid red; */
    margin: 30px auto;
    background: url(../images/pht.jpg) center no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px 3px;
}

.flex{
    display: flex;
}
.left{
    /* border: 1px solid red; */
    height: 600px;
    /* width: 60%; */
}

@font-face {
    font-family: barlow;
    src: url(../fonts/Barlow-Regular.ttf);
}
.right{
    /* width: 40%; */
    /* border: 1px solid red; */
    height: 600px;
    font-family: barlow;
}

.inner{
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 auto;
    height: 400px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.933);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 3px;

}

.inner2{
    margin: 0 auto;
    height: 300px;
    margin-top: 50px;
    /* border: 1px solid red; */


}

.form{
    /* border: 1px solid blue; */
    margin-top: 20px;
}

.form .flex{
    margin-bottom: 20px;
}

.login{
    font-weight: 600;
    text-align: center;
    /* border: 1px solid red; */
    color: rgb(109, 109, 109);

}

.flex label{
    /* border: 1px solid blue; */
    width: fit-content;
    position: relative;
    top: 8px;
    color: rgb(186, 62, 8);
}

.flex input{
    /* border: 1px solid red; */
    margin-left: 5px;
}

.form-check{
    /* border: 1px solid red; */
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.form-check label{
    /* border: 1px solid red; */
    position: relative;
    top: 0px;
}

.form-check:nth-child(1) label{
    margin-left: 4px;
    color: rgb(65, 65, 65);
}

.form-check-input{
    position: relative;
    top: 1px;
    cursor: pointer;
}

.form-check:nth-child(2) label{
    width: 100%;
    text-align: right;
}

.form-check:nth-child(2) label a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(186, 62, 8);
}



.btn-con{
    width: 100%;
    margin-top: 40px;
    /* border: 1px solid red; */
    text-align: center;
}

.btn{
    padding: 4px 60px;
    border-color: rgb(186, 62, 8);
    background-color: rgb(186, 62, 8);
    transition: all 0.5s ease;

}

.btn:hover{
    background-color: rgb(163, 52, 4);
    border-color: rgb(186, 62, 8);
}


.text-center{
    margin-top: 35px;
    color: white;
}

.sign a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}