*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}


.footer-row a:hover{
    /* color: rgb(246, 131, 89); */
    text-decoration: underline;
}





/* LAPTOP L */



@media screen and (min-width: 1024px) 
and (max-width: 1440px){
    
.container{
    width: 100%;
}





/* Navbar Section */

.navbar{
    width: 85%;
    /* border: 1px solid red; */
    display: flex;
    height: 40px;
    margin: 0 auto;
}

.kidds{
    width: 48%;
    /* border: 1px solid blue; */
}


.kidds span{
    font-family: comic sans ms;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: -5px;
}

.kidds span:nth-child(1){
    color: rgb(220, 0, 0);
}
.kidds span:nth-child(2){
    color: rgb(115, 0, 196);
}
.kidds span:nth-child(3){
    color: rgb(0, 198, 0);
}
.kidds span:nth-child(4){
    color: rgb(153, 0, 236);
}
.kidds span:nth-child(5){
    color: rgb(245, 204, 0);
}


.nav-links{
    width: 52%;
    display: flex;
    /* border: 1px solid blue; */

}

.nav-btn{
    margin: 8px auto;
}

.nav-btn a{
    color: black;
    font-size: 10px;
    /* border: 1px solid green; */
    padding: 10px 11px;
}

.nav-btn:nth-child(1) a{
    background-color: rgb(220, 0, 0);
    color: white;
}

.nav-btn a:hover{
    background-color: rgb(220, 0, 0);
    color: white;
}





/* Header Image Section */


.header-image{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: url(../images/a4.jpg);
}

.header-text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 290px;
}

.header-text-inner{
    color: white;
    width: fit-content;
    margin: 5px;
    background-color: rgba(220, 0, 0, 0.48);
    margin: 5px auto;
    padding: 10px;

}







/* Middle Section */

.middle{
    width: 75%;
    margin: 20px auto;
    /* border: 1px solid red; */
    height: fit-content
}

.boxes-container{
    width: 100%;

}
.boxes{
    display: flex;
}

.box{
    width: 23%;
    margin: 0px auto;
    text-align: center;
    /* border: 1px solid green; */
    color: white;
    /* border-radius: -1%; */
}

.text-header{
    height: fit-content;
    width: 100%;
    /* border: 1px solid blue; */
    margin: 10px 0;

}

.text-details{
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 13px;
    /* border: 1px solid blue; */

}

.text-footer{
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
    /* border: 1px solid blue; */

}

.footer-container{
    /* border: 1px solid red; */
    width: fit-content;
    margin: 0px auto;
    padding: 5px 10px;
    font-size: 13px;
    /* border: 1px solid white; */
}

.footer-container a{
    color: white;
}

.footer-container:hover{
    transform: scale(1.04);
}


.box:nth-child(1){
    background-color: rgb(220, 0, 0);
}
.box:nth-child(2){
    background-color: rgb(153, 0, 236);
}
.box:nth-child(3){
    background-color: rgb(0, 198, 0);
}
.box:nth-child(4){
    background-color: rgb(28, 110, 139);
}

.box:nth-child(1) .footer-container{
    background-color: rgb(167, 2, 2);
}
.box:nth-child(2) .footer-container{
    background-color: rgb(112, 4, 171);
}
.box:nth-child(3) .footer-container{
    background-color: rgb(0, 145, 0);
}
.box:nth-child(4) .footer-container{
    background-color: rgb(19, 82, 105);
}

.blue-text{
    color: rgb(28, 110, 139);
    margin: 15px 0;
}





/* Image Text Section */



.image-text{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.image-box{
    width: 33%;
    /* background-color: aliceblue; */
    margin: 0 auto;
}

.image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}
.image-1{
    background-image: url(../images/a1.jpg);
    
}
.image-2{
    background-image: url(../images/a2.jpg);
}
.image-3{
    background-image: url(../images/a3.jpg);
}







/* Image Details Section */

.image-details{
    width: 100%;
    /* background-color: aliceblue; */
}

.image-details-inner{
    margin: 10px;
    /* border: 1px solid red; */
}

.image-details-inner h3{
    margin: 5px 0px;
}

.image-details-inner p{
    font-size: 13px;
    margin: 5px 0px;

}

.details-container{
    width: 100%;
}

.details{
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
    height: fit-content;
}

.details-left{
    width: 66%;
    float: left;
    /* background-color: aliceblue; */
    height: fit-content;
    
}

.details-right{
    width: 33%;
    float: right;
    /* background-color: aliceblue; */
    height: fit-content;

}






/* Footer Section */

.footer{
    width: 100%;
    background-color: rgb(28, 110, 139);
    padding: 1px 0px;

}

.footer a{
    color: white;
}

.footer .fmiddle{
    display: flex;
    /* border: 1px solid red; */
}

.footer-row{
    width: 24%;
    line-height: 23px;
    font-size: 12px;
}

.footer-icons{
    width: fit-content;
    margin: 10px auto;
    font-size: 15px;
}

.footer-icons .fa{
    margin: 5px;
}

.footer-icons .fa:hover{
    transform: scale(1.05);
}

.fmiddle{
    width: 75%;
    margin: 20px auto;
    /* border: 1px solid red; */
    height: fit-content
}


}
















/* LAPTOP */


@media screen and (min-width: 768px) 
and (max-width: 1023px){

    .container{
        width: 100%;
    }
    
    .navbar{
        width: 85%;
        /* border: 1px solid red; */
        display: flex;
        height: 35px;
        margin: 0 auto;
    }
    
    .kidds{
        width: 45%;
        /* border: 1px solid blue; */
    }
    
    
    .kidds span{
        font-family: comic sans ms;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -5px;
    }
    
    .kidds span:nth-child(1){
        color: rgb(220, 0, 0);
    }
    .kidds span:nth-child(2){
        color: rgb(115, 0, 196);
    }
    .kidds span:nth-child(3){
        color: rgb(0, 198, 0);
    }
    .kidds span:nth-child(4){
        color: rgb(153, 0, 236);
    }
    .kidds span:nth-child(5){
        color: rgb(245, 204, 0);
    }
    
    
    .nav-links{
        width: 55%;
        display: flex;
        /* border: 1px solid blue; */
    
    }
    
    .nav-btn{
        margin: 4px auto;
    }
    
    .nav-btn a{
        color: black;
        font-size: 10px;
        /* border: 1px solid green; */
        padding: 6px 8px;
    }
    
    .nav-btn:nth-child(1) a{
        background-color: rgb(220, 0, 0);
        color: white;
    }
    
    .nav-btn a:hover{
        background-color: rgb(220, 0, 0);
        color: white;
    }




    
/* Header Image Section */


.header-image{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: url(../images/a4.jpg);
}

.header-text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 240px;
}

.header-text-inner{
    color: white;
    width: fit-content;
    margin: 4px;
    background-color: rgba(220, 0, 0, 0.48);
    margin: 4px auto;
    padding: 5px;

}





/* Middle Section */

.middle{
    width: 75%;
    margin: 20px auto;
    /* border: 1px solid red; */
    height: fit-content
}

.boxes-container{
    width: 100%;

}
.boxes{
    display: flex;
}

.box{
    width: 23%;
    margin: 0px auto;
    text-align: center;
    /* border: 1px solid green; */
    color: white;
    /* border-radius: -1%; */
}

.text-header{
    height: fit-content;
    width: 100%;
    /* border: 1px solid blue; */
    margin: 10px 0;

}

.text-details{
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 13px;
    /* border: 1px solid blue; */

}

.text-footer{
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
    /* border: 1px solid blue; */

}

.footer-container{
    /* border: 1px solid red; */
    width: fit-content;
    margin: 0px auto;
    padding: 5px 10px;
    font-size: 13px;
    /* border: 1px solid white; */
}

.footer-container a{
    color: white;
}

.footer-container:hover{
    transform: scale(1.04);
}


.box:nth-child(1){
    background-color: rgb(220, 0, 0);
}
.box:nth-child(2){
    background-color: rgb(153, 0, 236);
}
.box:nth-child(3){
    background-color: rgb(0, 198, 0);
}
.box:nth-child(4){
    background-color: rgb(28, 110, 139);
}

.box:nth-child(1) .footer-container{
    background-color: rgb(167, 2, 2);
}
.box:nth-child(2) .footer-container{
    background-color: rgb(112, 4, 171);
}
.box:nth-child(3) .footer-container{
    background-color: rgb(0, 145, 0);
}
.box:nth-child(4) .footer-container{
    background-color: rgb(19, 82, 105);
}

.blue-text{
    color: rgb(28, 110, 139);
    margin: 15px 0;
}




/* Image Text Section */



.image-text{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.image-box{
    width: 33%;
    /* background-color: aliceblue; */
    margin: 0 auto;
}

.image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}
.image-1{
    background-image: url(../images/a1.jpg);
    
}
.image-2{
    background-image: url(../images/a2.jpg);
}
.image-3{
    background-image: url(../images/a3.jpg);
}









/* Image Details Section */

.image-details{
    width: 100%;
    /* background-color: aliceblue; */
}

.image-details-inner{
    margin: 10px;
    /* border: 1px solid red; */
}

.image-details-inner h3{
    margin: 5px 0px;
}

.image-details-inner p{
    font-size: 13px;
    margin: 5px 0px;

}

.details-container{
    width: 100%;
}

.details{
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
    height: fit-content;
}

.details-left{
    width: 66%;
    float: left;
    /* background-color: aliceblue; */
    height: fit-content;
    
}

.details-right{
    width: 33%;
    float: right;
    /* background-color: aliceblue; */
    height: fit-content;

}








/* Footer Section */

.footer{
    width: 100%;
    background-color: rgb(28, 110, 139);
    padding: 1px 0px;

}

.footer a{
    color: white;
}

.footer .fmiddle{
    display: flex;
    /* border: 1px solid red; */
}

.footer-row{
    width: 24%;
    line-height: 23px;
    font-size: 12px;
}

.footer-icons{
    width: fit-content;
    margin: 10px auto;
    font-size: 15px;
}

.footer-icons .fa{
    margin: 5px;
}

.footer-icons .fa:hover{
    transform: scale(1.05);
}

.fmiddle{
    width: 75%;
    margin: 20px auto;
    /* border: 1px solid red; */
    height: fit-content
}


    





}








/* TABLET */

@media screen and (min-width: 425px) 
and (max-width: 767px){

    .container{
        width: 100%;
    }
    
    .navbar{
        width: 95%;
        /* border: 1px solid red; */
        display: flex;
        height: 35px;
        margin: 0 auto;
    }
    
    .kidds{
        width: 20%;
        /* border: 1px solid blue; */
    }
    
    
    .kidds span{
        font-family: comic sans ms;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -5px;
    }
    
    .kidds span:nth-child(1){
        color: rgb(220, 0, 0);
    }
    .kidds span:nth-child(2){
        color: rgb(115, 0, 196);
    }
    .kidds span:nth-child(3){
        color: rgb(0, 198, 0);
    }
    .kidds span:nth-child(4){
        color: rgb(153, 0, 236);
    }
    .kidds span:nth-child(5){
        color: rgb(245, 204, 0);
    }
    
    
    .nav-links{
        width: 75%;
        display: flex;
        /* border: 1px solid blue; */
    
    }
    
    .nav-btn{
        margin: 3px auto;
    }
    
    .nav-btn a{
        color: black;
        font-size: 10px;
        /* border: 1px solid green; */
        padding: 4px 4px;
    }
    
    .nav-btn:nth-child(1) a{
        background-color: rgb(220, 0, 0);
        color: white;
    }
    
    .nav-btn a:hover{
        background-color: rgb(220, 0, 0);
        color: white;
    }




    
/* Header Image Section */


.header-image{
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: url(../images/a4.jpg);
}

.header-text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 220px;
}

.header-text-inner{
    color: white;
    width: fit-content;
    margin: 3px;
    background-color: rgba(220, 0, 0, 0.48);
    margin: 3px auto;
    padding: 4px;

}






/* Middle Section */

.middle{
    width: 75%;
    margin: 20px auto;
    /* border: 1px solid red; */
    height: fit-content
}

.boxes-container{
    width: 100%;

}
.boxes{
    /* display: grid; */
    height: 410px;
}

.box{
    width: 49%;
    height: 210px;
    margin: 4px auto;
    text-align: center;
    /* border: 1px solid green; */
    color: white;
    /* border-radius: -1%; */
}



.text-header{
    height: 30px;
    width: 100%;
    /* border: 1px solid blue; */
    margin: 10px 0;

}

.text-details{
    width: 95%;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 13px;
    /* border: 1px solid blue; */

}

.text-footer{
    height: 30px;
    width: 100%;
    position: relative;
    bottom: 5px;
    /* margin-bottom: 10px; */
    /* border: 1px solid blue; */

}

.footer-container{
    /* border: 1px solid red; */
    width: fit-content;
    margin: 0px auto;
    padding: 5px 10px;
    font-size: 13px;
    /* border: 1px solid white; */
}

.footer-container a{
    color: white;
}

.footer-container:hover{
    transform: scale(1.04);
}


.box:nth-child(1){
    background-color: rgb(220, 0, 0);
    float: left;
}
.box:nth-child(2){
    background-color: rgb(153, 0, 236);
    float: right;
}
.box:nth-child(3){
    background-color: rgb(0, 198, 0);
    float: left;

}
.box:nth-child(4){
    background-color: rgb(28, 110, 139);
    float: right;

}

.box:nth-child(1) .footer-container{
    background-color: rgb(167, 2, 2);
}
.box:nth-child(2) .footer-container{
    background-color: rgb(112, 4, 171);
}
.box:nth-child(3) .footer-container{
    background-color: rgb(0, 145, 0);
}
.box:nth-child(4) .footer-container{
    background-color: rgb(19, 82, 105);
}

.blue-text{
    color: rgb(28, 110, 139);
    margin: 15px 0;
}


/* Image Text Section */



.image-text{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.image-box{
    width: 33%;
    /* background-color: aliceblue; */
    margin: 0 auto;
}

.image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}
.image-1{
    background-image: url(../images/a1.jpg);
    
}
.image-2{
    background-image: url(../images/a2.jpg);
}
.image-3{
    background-image: url(../images/a3.jpg);
}









/* Image Details Section */

.image-details{
    width: 100%;
    /* background-color: aliceblue; */
}

.image-details-inner{
    margin: 10px;
    /* border: 1px solid red; */
}

.image-details-inner h3{
    margin: 5px 0px;
}

.image-details-inner p{
    font-size: 13px;
    margin: 5px 0px;

}

.details-container{
    width: 100%;
}

.details{
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
    height: fit-content;
}

.details-left{
    width: 66%;
    float: left;
    /* background-color: aliceblue; */
    height: fit-content;
    
}

.details-right{
    width: 33%;
    float: right;
    /* background-color: aliceblue; */
    height: fit-content;

}





/* Footer Section */

.footer{
    width: 100%;
    background-color: rgb(28, 110, 139);
    padding: 1px 0px;

}

.footer a{
    color: white;
}



.footer .fmiddle{
    display: flex;
    /* border: 1px solid red; */
}

.footer-row{
    width: 24%;
    line-height: 23px;
    font-size: 12px;
}

.footer-icons{
    width: fit-content;
    margin: 10px auto;
    font-size: 15px;
}

.footer-icons .fa{
    margin: 5px;
}

.footer-icons .fa:hover{
    transform: scale(1.05);
}


.fmiddle{
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid red; */
    height: fit-content
}




}



















/* MOBILES */







@media screen and (min-width: 69px) 
and (max-width: 424px){






    
}

